fastapi
uvicorn
pyarrow
redis
debugpy
loguru
python-dotenv
numpy
requests
tomlkit
azure-core
azure-storage-blob
azure-identity
numpy
pandas
sqlalchemy
openpyxl
xlsxwriter
python-multipart
msal
httpx
lxml